.wrapper{
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

button {
    color: $primary;
    background-color: transparent;
    padding: 18px 36px;
    border: 2px solid $primary;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: $primary;
        color: $solidWhite;
    }
    &:focus {
        background-color: $primary;
        color: $solidWhite;
    }
    &.secondary {
        background-color: transparent;
        border-color: $solidWhite;
        color: $solidWhite;
        padding: 8px 12px;
        &:hover {
            background-color: $solidWhite;
            color:$primary;
        }
        &:focus {
            background-color: $solidWhite;
            color:$primary;
        }
    }
    &.solid {
        color: $solidWhite;
        background-color: $primary;
        &:hover {
            color: $primary;
            background-color: $solidWhite;
        }
    }
    /* style the button in the main nav menu to look just like an icon */
    &.menuIcon {
        display: inherit;
        padding: 0;
        border: none;
        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
        }
    }
}

a {
    &.button {
        color: $primary;
        background-color: transparent;
        padding: 18px 36px;
        border: 2px solid $primary;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.2rem;
        text-align: center;
        transition: 0.3s;
        
        &:hover {
            background-color: $primary;
            color: $solidWhite;
        }
        
        &:focus {
            background-color: $primary;
            color: $solidWhite;
        }
    }
}

// modal styling 
#modalBackground {
    display: none;
    background-color: $secondary;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#modal {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: 1.5rem;
    animation-name: animatemodal;
    animation-duration: 0.4s;
  }

#closeBtn {
    align-self: flex-end;
}
